header {
  display: flex;
  background-color: pink;
  align-items: center;
  border-bottom: 2px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

header .logo {
  display: flex;
  width: 70%;
  align-items: center;
  background-color: lightgreen;
}

.logo span {
  padding-left: 10px;
  color: MediumAquamarine;
}

header .navigation {
  background-color: lightblue;
  display: flex;
  width: 30%;
}

.navigation a {
  color: black;
  padding: 20px;
}

.container {
  display: flex;
  border: 2px solid green;
  padding-top: 10px;
  justify-content: space-around;
}

.column {
  display: flex;
}

.section {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column .large {
  display: inline-flex;
  border: 1px solid black;
  width: 630px;
}

.column .medium {
  display: inline-flex;
  border: 1px solid black;
  width: 300px;
}

.column .small {
  display: inline-flex;
  border: 1px solid black;
  width: 240px;
}

.section .main{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  font-weight: bold;
  font-size: 40px;
  color: white;
  height: 300px;
}

.section .earth{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 200px;
}

.section .cameras{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 200px;
}


div {
  border: 1px solid red;
}
